html {
  font-size: 18px;
}

body {
  font-family: helvetica;

  color: white;
}

/*logo banner*/
.logo-banner {
  background-color: black;

}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-left: 150px;
}
.logo-text {
  padding: 0.66rem 0;
  font-size: 1rem;

}

/*main banner*/
.banner {
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.banner-text {
  display: block;
  height: 11rem;
  width: 25rem;
  background-color: black;
  align-items: center;
  margin-left: 150px;
  margin-top: 9rem;
}

.arrival {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
  line-height: 1.4em;
  margin-top: 0;
}

.sport {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
  line-height: 1.4em;
  padding-bottom: 2rem;
}

/*navigation*/

.navigation {
  display: flex;
  background-color: firebrick;
  padding: 0.75rem 150px;
  width: 100%;
  justify-content: space-between;
}


/*product grid*/
.product {
  border: 1px solid red;

}

.item {
  border: 1px solid blue;

}

.label {
  background-color: black;
  border: 1px solid blue;
}

/*location and hours*/
.location-hours {
  background-color: black;
  border: 1px solid red;
}

.location, .hours {
  border: 1px solid blue;
}

/*footer*/

.footer {
  background-color: black;
  border: 1px solid red;
}
