html {
  font-size: 18px;
}

body {
  font-family: helvetica;

  color: white;
}

/*logo banner*/
.logo-banner {
  background-color: black;
}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  /*margin-left: 150px;*/
}
.logo-text {
  padding: 0.66rem 0;
  font-size: 1rem;
}

.container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid purple;
  width: 100%;
}

/*main banner*/
.banner {
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

 .banner-text {
  display: block;
  height: 11rem;
  width: 25rem;
  background-color: black;

  /*margin-left: 150px;*/
  margin-top: 9rem;
  /*position: relative;*/
}

.arrival {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
  line-height: 1.4em;
  margin-top: 0;
}

.sport {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
  line-height: 1.4em;
  padding-bottom: 2rem;
}

/*navigation*/

.navigation {
  display: inline-block;
  background-color: firebrick;
  padding: 0.75rem 0;
  width: 100%;
}

.tabs {
  display: inline-flex;
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
}

/*product grid*/
.product {
  /*border: 4px solid black;
  width: 30%;
  height: 9rem;
  padding: 2rem;
  margin: 3rem;*/
display: flex;
}


.item {
  border: 4px solid black;
  width: 30%;
  height: 9rem;
  padding: 2rem;
  margin: 3rem;
  display: inline-block;

}

.label {
  background-color: black;
  
  width: 30%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: auto;
  margin: 0 auto;

}

/*location and hours*/
.location-hours {
  background-color: black;
  border: 1px solid red;
}

.location, .hours {
  border: 1px solid blue;
}

/*footer*/

.footer {
  background-color: black;
  border: 1px solid red;
}
