body {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

/*logo banner*/
.logo {
  background-color: black;

}

/*main banner*/
.banner {

  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.banner-text {

  background-color: black;

}

/*navigation*/

.navigation {
  background-color: firebrick;
}

/*product grid*/
.product {
  border: 1px solid blue;

}

.item {
  border: 1px solid blue;

}

.label {
  background-color: black;
  border: 1px solid blue;
}

/*location and hours*/
.location-hours {
  background-color: black;
  border: 1px solid blue;
}

.location, .hours {
  border: 1px solid blue;
}

/*footer*/

.footer {
  background-color: black;
  border: 1px solid blue;
}
